.main.menu {
    a {
        margin-top: 0px;
        display: block;

        // hoverable menu
        &:hover {
            overflow: auto;
        }
    }

    nav {
        overflow: auto;
        /*display: inline-block;
        height: calc(100% - 25px);
        width: 100%;*/
    }

    .button,
    .buttons>a {
        padding: 10px 10px 10px 15px;
    }
}