// FILTER MENU (SECONDARY MENU)

// pc/tablet menu (header)
//.header.secondary .menu.filter {}

// mobile menu (footer)
.header.secondary .menu.filter,
.footer.secondary.menu.filter {
    overflow: auto;

    a {
        font-size: 14px;
        border: solid 1px white;
        padding: 5px 10px;
        margin: 0 3px;
        border-radius: 16px;
        background-color: black;
    }
}

.header.secondary .menu.filter.buttons,
.footer.secondary.menu.filter .buttons {
    text-align: left;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    //width: calc(100% - 250px - 110px - 200px);
    padding: 10px;

    @include respond(mobile) {
        width: calc(100% - 20px);
    }
}

.header.secondary .menu.filter {
    height: 30px;
}

.footer.secondary.menu.filter {
    height: 50px;
    width: 100%;
}