// FILTER MENU (SECONDARY MENU)

// pc/tablet menu (header)
//.header.secondary .menu.filter {}

// mobile menu (footer)

.header.secondary .menu.filter.buttons,
.footer.secondary.menu.filter .buttons {
    text-align: left;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    margin: auto auto auto 0;
    width: 100%;

    a {
        font-size: 14px;
        border: solid 1px white;
        padding: 5px 10px;
        margin: 0 3px;
        border-radius: 16px;
        background-color: black;
        height: 20px;
    }

}

.footer.secondary.menu.filter {
    width: 100%;
    height: 50px; // TODO change
}