.footer.menu.mobile {
    position: fixed;
    bottom: calc(60px + 50px + 60px);
    height: 0;
    width: 100%;

    // button to show/hide menu
    .round {
        font-size: 24px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        margin-right: 5px;
        margin-left: auto;
        z-index: 1;
        right: 10px;
        position: relative;
        i {
            margin: auto;
        }
    }

    // TODO proměnné přesunout
    .items {
        position: absolute;
        overflow: auto;
        bottom: -70px;
        right: 0;

        $width: 200px;
        min-width: $width;
        width: $width;
        max-height: calc(100vh - 50px - 60px);

        p,
        span {
            cursor: default;
        }

        a,
        p {
            display: block;

            &:last-child {
                margin-bottom: $height_footer_menu;
            }
        }

        @media screen and (max-width: $width) {
            width: 100%;
            min-width: 100%;
            word-wrap: anywhere;
        }
    }
}