/** INIT
 *  Init sass varibles
 */

$padding_left_right: 15px;

// width for responsive styles

$width_pc: 1025px;

// left content width (date menu, title menu, menu buttons, currently playing image)
$width_left: 130px;
$width_right: 200px;
$width_artists_letters: 75px;

// header heights
$height_header_primary: 44px;

$height_footer_player: 100px;
$height_footer_menu: 60px;

// right margin icon
$margin_right_icon: 5px;


@mixin respond($breakpoint) {
    @if $breakpoint==pc {
        @media only screen and (min-width: 1040px) {
            @content;
        }
    }

    @else if $breakpoint==mobile-menu {
        @media only screen and (max-width: 1399px) and (min-width: 1040px) {
            @content;
        }
    }

    @else if $breakpoint==tablet {
        @media only screen and (max-width: 1039px) and (min-width: 811px) {
            @content;
        }
    }

    @else if $breakpoint==mobile {
        @media only screen and (max-width: 810px) {
            @content;
        }
    }
}