/** INIT
 *  Init sass varibles
 */


// width for responsive styles


// left content width (date menu, title menu, menu buttons, currently playing image)
$width_left: 130px;

// heights
$height_header_primary: 44px;

$height_footer_player: 100px;
$height_footer_menu: 60px;

// right margin icon
$margin_right_icon: 5px;


// mixins for responsive styles
@mixin respond($breakpoint) {
    @if $breakpoint==pc {
        @media only screen and (min-width: 1050px) {
            @content;
        }
    }

    @else if $breakpoint==pctab {
        @media only screen and (min-width: 900px) {
            @content;
        }
    }

    @else if $breakpoint==tablet {
        @media only screen and (max-width: 1049px) and (min-width: 900px) {
            @content;
        }
    }

    @else if $breakpoint==mobile {
        @media only screen and (max-width: 899px) {
            @content;
        }
    }

    @else if $breakpoint==text {
        @media only screen and (max-width: 1299px) {
            @content;
        }
    }
}


@include respond(text) {
    .hide-text {
        display: none;
    }
}