/** COLORS
 *  Colors for themes (light, dark, color).
 */

$color_text_button: rgb(26, 178, 107);

// 0 čistá
// 1 body
// 2 header footer
// 3,4 hover


// theme
// 1 = light
// 2 = dark
// 3 = color
@mixin theme-colors($theme: false) {
    // -> init colors
    // dark colors
    $color_0: rgb(6, 6, 6);
    $color_1: rgb(12, 12, 12);
    $color_2: rgb(16, 16, 16);
    $color_3: rgb(26, 26, 26);
    $color_4: rgb(36, 36, 36);
    $color_5: rgb(46, 46, 46);
    $color_6: rgb(56, 56, 56);
    $color_text: rgb(255, 255, 255);

    // light colors
    @if $theme==1 {
        $color_2: rgb(245, 245, 245);
        $color_3: rgb(255, 255, 255);
        $color_4: rgb(255, 245, 245);
        // TODO light colors
        //249, 249, 249



        $color_0: rgb(255, 255, 255);
        $color_1: rgb(245, 245, 245);
        $color_5: rgb(215, 215, 215);
        $color_6: rgb(205, 205, 205);
        $color_text: rgb(0, 0, 0);
        $color_text_button: rgb(160, 93, 93);
        /*$color_0: rgb(255, 255, 255);
        $color_1: rgb(245, 245, 245);
        $color_2: rgb(235, 235, 235);
        $color_3: rgb(230, 230, 230);
        $color_4: rgb(225, 225, 225);
        $color_5: rgb(215, 215, 215);
        $color_6: rgb(205, 205, 205);
        $color_text: rgb(0, 0, 0);*/
    }

    // color theme
    @if $theme==3 {
        // TODO color theme
        /*$color_2: rgb(255, 231, 170);
        $color_3: rgb(13, 47, 129);
        $color_4: rgb(255, 175, 162);*/
        /*$color_2: rgb(243, 146, 55);
        $color_3: rgb(14, 121, 178);*/

        // https://coolors.co/293f14-386c0b-38a700-31d843-3eff8b
        $color_2: rgb(41, 63, 20);
        $color_3: rgb(56, 108, 11);
        $color_4: rgb(56, 167, 0);
        $color_5: rgb(49, 216, 67);
        $color_6: rgb(62, 255, 139);
    }

    /*font-family: SharpGroteskWide,Open Sans,sans-serif;
    https://fonts.google.com/specimen/Poppins
    */

    /*a {
        color: $color_text;

        &:hover {
            color: $color_text_button;
        }
    }

    // -> set colors

    // buttons
    .button,
    .buttons>* {
        color: $color_text_button;
        background-color: $color_4;

        &:hover {
            background-color: $color_5;

            * {
                background-color: $color_5;
            }
        }

        &.active {
            background-color: $color_3;
            color: $color_text_button;
        }
    }

    // lists
    .list {
        a {
            &:hover {
                background-color: $color_3;
                color: $color_text;
            }

            &.active {
                background-color: $color_0;
                color: $color_text_button;
            }

            &.update:hover {
                background-color: $color_1;
                color: $color_text_button;
            }
        }
    }*/

    // header
    .header {
        background-color: $color_1;
        color: $color_text;

        .page-name,
        .title {
            color: $color_text_button;
        }

        // buttons
        .button,
        .buttons>* {
            &.active {
                color: $color_text_button;
            }

            &:hover {
                background-color: $color_3;
            }
        }

        &.primary {

            // buttons
            .button,
            .buttons>* {
                &.active {
                    background-color: $color_3;
                }
            }
        }

        .login.button.hover.items,
        .user.button.hover.items {
            background-color: $color_4;
        }

    }

    .menu.hover.items {
        background-color: $color_4;

        a:hover {
            background-color: $color_6;
        }
    }
    // main
    .main {
        background-color: $color_1;
        //background-color: $color_3;
        color: $color_text;

        a {
            color: $color_text;
        }

        &.menu {

            &.date.year,
            &.artists.first-letter {
                //background-color: $color_1;

                a:hover,
                a.active {
                    background-color: $color_2;
                }

            }

            &.date.month,
            &.artists {
                //background-color: $color_2;

                a:hover,
                a.active {
                    background-color: $color_3;
                }

            }

            a.active {
                color: $color_text_button;
            }
        }

        &.content {
            .releases {
                .release {
                    a {
                        &:hover {
                            color: $color_text_button;
                        }
                    }
                }
            }
        }

        .box {
            background-color: $color_2;
        }
    }

    // footer
    .footer {
        background-color: $color_1;
        color: $color_text;

        a {
            color: $color_text;
        }

        &.player {
            &.active {
                background-color: $color_1;
            }

            a:hover {
                color: $color_text_button;
            }

            .info>.time {
                background-color: $color_text_button;

                @for $i from 0 through 100 {
                    &.width-#{$i} {
                        $sirka: $i + '%';
                        background: linear-gradient(to right, $color_text_button #{$sirka}, $color_text 0%);
                    }
                }
            }
        }

        .user.menu {
            background-color: $color_1;
            p {
                color: $color_text_button;
            }
        }

        .round.buttons {
            a {
                background-color: $color_1;

                &.active {
                    background-color: $color_0;
                    color: $color_text_button;
                }

                &:hover {
                    background-color: $color_0;
                }
            }
        }

        &.menu.primary {
            a {
                background-color: $color_0;
                color: $color_text;

                &:hover,
                &.active {
                    background-color: $color_3;
                    color: $color_text_button;
                }
            }
        }
    }

    /*header {
        background-color: $color_4;
        color: $color_text_button;

        // left hover menu (login, user)
        .menu.hover {
            /*&:hover {
                & ~ header .user .login {
                    background-color: $color_5;

                    * {
                        background-color: $color_5;
                    }
                }
            }*/

    // submenu
    /*a {
                background-color: $color_5;

                * {
                    background-color: $color_5;
                }

                &:hover {
                    background-color: $color_6;

                    * {
                        background-color: $color_6;
                    }
                }
            }
        }

        .menu.hover.hover {
            background-color: $color_5;
        }

        .secondary {
            background-color: $color_3;

            * {
                background-color: $color_3;
            }

            .title {
                color: $color_text;
            }
        }
    }*/

    // content
    /*main {
        background-color: $color_2;
        color: $color_text;

        // date menu
        .menu.date {
            background-color: $color_4;

            a {
                color: $color_text;

                &:hover {
                    color: $color_text_button;
                }
            }
        }

        // content buttons
        .content {

            .button,
            .buttons>* {
                background-color: $color_2;

                &:hover {
                    background-color: $color_5;
                }
            }

            .releases {
                .release {
                    background-color: $color_1;

                    .buttons.active {
                        color: $color_text_button;
                    }
                }
            }
        }
    }*/

    // footer
    /*footer {
        background-color: $color_1;
        color: $color_text;

        .player {
            .info>.time {
                background-color: $color_text_button;
            }
        }

        .tracklist {
            .tracklist-button {
                color: $color_text_button;
                background-color: $color_5;
            }
        }

        .buttons.releases {
            background-color: $color_2;
        }
    }*/
}

// DARK/LIGHT MODE

// light mode
@media (prefers-color-scheme: light) {
    body {
        @include theme-colors($theme: 1);

        &.dark {
            @include theme-colors($theme: 2);
        }

        &.color {
            @include theme-colors($theme: 3);
        }
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    body {
        @include theme-colors($theme: 2);

        &.light {
            @include theme-colors($theme: 1);
        }

        &.color {
            @include theme-colors($theme: 3);
        }
    }
}

.loader {
    background: linear-gradient(to right, $color_text_button, $color_text_button);
}