// template width

$menu_playlist_width: 250px;
$menu_date_width: 140px;
$menu_artists_width: 200px;

$loader_height: 4px;
$header_primary_height: 48px;
$header_secondary_height: 48px;
$player_height: 100px;
$releases_menu_mobile_height: 60px;
$filter_menu_mobile_height: 50px;

$padding: 15px;
$spaces: 30px;
$cover_width: 150px;

body.classic {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;

    // pc
    @include respond(pctab) {
        grid-template-columns: auto;
        // loader, primary header, secondary header, content, player
        grid-template-rows: $loader_height $header_primary_height $header_secondary_height calc(100vh - #{$loader_height} - #{$header_primary_height} - #{$header_secondary_height} - #{$player_height}) $player_height;

        height: 100vh;

        // TODO overflow: hidden;

        // hide menus and player
        &.hide {
            &-player {
                .main {
                    grid-area: 4 / 1 / 6 / 1;
                }

                .footer {
                    &.player {
                        display: none;
                    }
                }
            }

            &-menu {

                &-playlists {
                    .main .content.playlists {
                        display: none;
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }
                }

                &-date {
                    .main .content.date {
                        display: none;
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }
                }

                &-artists {

                    // order secondary header icons
                    .header.secondary .menu {
                        &.date {
                            order: 4;
                        }

                        &.artists {
                            order: 3;
                        }
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }

                    .main .content.artists {
                        display: none;
                    }
                }
            }
        }

        // headers
        .header {
            &.loader {
                grid-area: 1 / 1 / 2 / 1;
            }

            &.primary {
                grid-area: 2 / 1 / 3 / 1;
            }

            &.secondary {
                grid-area: 3 / 1 / 4 / 1;
            }
        }

        // main content
        .main {
            grid-area: 4 / 1 / 5 / 1;
        }

        // secondary header and main content
        .header.secondary,
        .main {
            display: inline-flex;

            // menus
            .menu {

                &.playlists {
                    width: $menu_playlist_width;
                    min-width: $menu_playlist_width;
                    order: 1;
                }

                &.date {
                    width: $menu_date_width;
                    min-width: $menu_date_width;
                    order: 3;
                }

                &.artists {
                    width: $menu_artists_width;
                    min-width: $menu_artists_width;
                    order: 4;
                }

                /*&.filter {
                    // TODO 15px = chrominium fix??
                    width: calc(100vw - #{$menu_playlist_width} - #{$menu_date_width} - #{$menu_artists_width} - 15px);
                    min-width: calc(100vw - #{$menu_playlist_width} - #{$menu_date_width} - #{$menu_artists_width} - 15px);
                }*/
            }

            // content and menus
            .menu.filter,
            .content.page {
                /*width: auto;
                min-width: auto;*/
                width: calc(100vw - #{$menu_playlist_width} - #{$menu_date_width} - #{$menu_artists_width} - 15px);
                min-width: calc(100vw - #{$menu_playlist_width} - #{$menu_date_width} - #{$menu_artists_width} - 15px);
            }

            .content.page,
            .menu.filter {
                order: 2;
            }

            .content {
                overflow: auto;

                &.menu {
                    overflow: hidden;

                    &:hover {
                        overflow: auto;
                    }
                }
            }
        }

        // footer
        .footer {
            &.player {
                grid-area: 5 / 1 / 6 / 1;
            }
        }
    }


    // mobile
    @include respond(mobile) {
        grid-template-columns: auto;
        // loader, content, player, mobile menu filer, mobile menu releases
        //grid-template-rows: $loader_height calc(100vh - #{$loader_height} - #{$player_height} - #{$filter_menu_mobile_height} - #{$releases_menu_mobile_height}) $player_height $filter_menu_mobile_height $releases_menu_mobile_height;
        grid-template-rows: $loader_height 100% $player_height $filter_menu_mobile_height $releases_menu_mobile_height;

        height: auto;
        overflow: auto;

        // hide player
        &.hide-player {
            .main {
                grid-area: 2 / 1 / 4 / 1;
            }

            .footer.player {
                display: none;
            }
        }

        // header
        .header {
            &.loader {
                grid-area: 1 / 1 / 2 / 1;
                position: fixed;
                top: 0;
            }

            &.primary {
                display: none;
            }

            &.secondary {
                display: none;
            }
        }

        // main content and menus
        .main {
            // TODO show player grid-area: 2 / 1 / 3 / 1;
            grid-area: 2 / 1 / 4 / 1;
            display: inline-flex;

            // menus
            .menu {
                display: none;
                width: 100%;
                min-width: 100%;

                /*&.playlists {
                    display: block;
                }*/

                &.date {
                    display: block;
                }

                /*&.artists {
                    display: block;
                }*/
            }


            .content {
                display: none;
                order: 2;
            }
        }

        // footer
        .footer {
            &.player {
                // TODO show player
                display: none;
                /*grid-area: 3 / 1 / 4 / 1;
                display: grid;
                position: fixed;
                bottom: $filter_menu_mobile_height + $releases_menu_mobile_height;
                height: $player_height;
                width: 100%;*/
            }

            &.menu {
                &.filter {
                    grid-area: 4 / 1 / 5 / 1;
                    display: grid;
                    position: fixed;
                    bottom: $releases_menu_mobile_height;
                }

                &.releases {
                    grid-area: 5 / 1 / 6 / 1;
                    display: grid;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
}