// template width



$padding: 15px;
$spaces: 30px;
$cover_width: 150px;

// page width
$width_menu_playlist: 250px; // 1
$width_menu_date: 140px; // 3
$width_menu_artists: 200px; // 4
$width_main: calc(100vw - #{$width_menu_playlist} - #{$width_menu_date} - #{$width_menu_artists}); // 2

// page height
$height_loader: 4px; // 1
$height_header_primary: 48px; // pc 2
$height_header_secondary: 48px; // pc 3
$height_player: 100px; // mobile 3, pc 5
$height_menu_mobile_filter: 50px; // mobile 4
$height_menu_mobile_releases: 60px; // mobile 5
$height_main: calc(100vh - #{$height_loader} - #{$height_header_primary} - #{$height_header_secondary} - #{$height_player}); // mobile 2, pc 4

body.classic {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;

    // pc
    @include respond(pctab) {
        height: 100vh;
        overflow: hidden;

        grid-template-columns: auto;
        // loader, primary header, secondary header, content, player
        grid-template-rows: $height_loader $height_header_primary $height_header_secondary $height_main $height_player;

        // hide menus and player
        &.hide {
            &-player {
                .main {
                    grid-area: 4 / 1 / 6 / 1;
                }

                .footer {
                    &.player {
                        display: none;
                    }
                }
            }

            &-menu {
                &-playlists {
                    .main .content.playlists {
                        display: none;
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }
                }

                &-date {
                    .main .content.date {
                        display: none;
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }
                }

                &-artists {

                    // order secondary header icons
                    .header.secondary .menu {
                        &.date {
                            order: 4;
                        }

                        &.artists {
                            order: 3;
                        }
                    }

                    // content
                    .main .content.page {
                        width: auto;
                        min-width: auto;
                    }

                    .main .content.artists {
                        display: none;
                    }
                }
            }
        }

        // headers
        .header {
            &.loader {
                grid-area: 1 / 1 / 2 / 1;
            }

            &.primary {
                grid-area: 2 / 1 / 3 / 1;
            }

            &.secondary {
                grid-area: 3 / 1 / 4 / 1;
            }
        }

        // main content
        .main {
            grid-area: 4 / 1 / 5 / 1;
        }

        // secondary header and main content
        .header.secondary,
        .main {
            display: inline-flex;

            // menus
            .menu {

                &.playlists {
                    width: $width_menu_playlist;
                    min-width: $width_menu_playlist;
                    order: 1;
                }

                &.date {
                    width: $width_menu_date;
                    min-width: $width_menu_date;
                    order: 3;
                }

                &.artists {
                    width: $width_menu_artists;
                    min-width: $width_menu_artists;
                    order: 4;
                }
            }

            // content and menus
            .menu.filter,
            .content.page {
                width: $width_main;
                min-width: $width_main;
            }

            .content.page,
            .menu.filter {
                order: 2;
            }

            .content {
                overflow: auto;

                &.menu {
                    overflow: hidden;

                    &:hover {
                        overflow: auto;
                    }
                }
            }
        }

        // footer
        .footer {
            &.player {
                grid-area: 5 / 1 / 6 / 1;
            }
        }
    }


    // mobile
    @include respond(mobile) {
        grid-template-columns: auto;
        // loader, content, player, mobile menu filer, mobile menu releases
        // TODO player
        grid-template-rows: $height_loader 100% $height_player $height_menu_mobile_filter $height_menu_mobile_releases;

        height: auto;
        overflow: auto;

        // hide player
        &.hide-player {
            .main {
                grid-area: 2 / 1 / 4 / 1;
            }

            .footer.player {
                display: none;
            }
        }

        // header
        .header {
            &.loader {
                grid-area: 1 / 1 / 2 / 1;
                position: fixed;
                top: 0;
            }

            &.primary {
                display: none;
            }

            &.secondary {
                display: none;
            }
        }

        // main content and menus
        .main {
            // TODO show player grid-area: 2 / 1 / 3 / 1;
            grid-area: 2 / 1 / 4 / 1;
            display: inline-flex;

            // menus
            .menu {
                display: none;
                width: 100%;
                min-width: 100%;

                /*&.playlists {
                    display: block;
                }*/

                &.date {
                    display: block;
                }

                /*&.artists {
                    display: block;
                }*/
            }


            .content {
                display: none;
                order: 2;
            }
        }

        // footer
        .footer {
            &.player {
                // TODO show player
                display: none;
                /*grid-area: 3 / 1 / 4 / 1;
                display: grid;
                position: fixed;
                bottom: $filter_menu_mobile_height + $releases_menu_mobile_height;
                height: $player_height;
                width: 100%;*/
            }

            &.menu {
                &.filter {
                    grid-area: 4 / 1 / 5 / 1;
                    display: grid;
                    position: fixed;
                    bottom: $height_menu_mobile_releases;
                }

                &.releases {
                    grid-area: 5 / 1 / 6 / 1;
                    display: grid;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
}