/** MAIN
 *  Main styles - fonts, margin, ...
 */

$padding_button: 10px;
$height_menu_mobile_round_button: 24px;
$width_menu_mobile_items: 250px;

* {
    margin: 0;
    text-decoration: none;
    font-family: "DM Sans", "Pontano Sans", sans-serif;
    word-wrap: everywhere;
    overflow-wrap: anywhere;
}

// text
p {
    font-size: 18px;
}

// buttons
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    box-sizing: content-box;
    font-size: 18px;
    padding: $padding_button;
    display: inline-block;
}

.left {
    margin-left: $padding;
    padding-left: 0;
}

.right {
    margin-right: $padding;
    padding-right: 0;
}


// icon left and right margin
.icon-text {
    i {
        margin-right: $margin_right_icon;
    }

    &-right {
        i {
            margin-left: $margin_right_icon;
        }
    }
}

// explicit
.explicit {
    span {
        font-size: 13px;
        padding-left: 2.5px;
        font-style: italic;
    }
}

// responsive styles (hide / show content on pc / mobile)
@include respond(pc) {
    .hide-pc {
        display: none !important;
    }
}

@include respond(tablet) {
    .hide-tablet {
        display: none !important;
    }
}

@include respond(mobile) {
    .hide-mobile {
        display: none !important;
    }
}