/** FOOTER
 *  Page footer
 */

$mobile_buttons_width_min: 80px;

footer {
    //width: calc(100% - 20px);
    display: block;
    height: auto;
    /** {
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .menu.round {
        //width: 80px;
        display: block;

        &.pc-hide {
            display: flex;
            height: 0;

            a:first-of-type {
                margin-left: auto;
            }

            &.buttons>* {
                top: -65px;
            }
        }

        &.buttons>* {
            font-size: 24px;
            border-radius: 100%;
            width: 56px;
            height: 56px;
            display: flex;
            position: relative;
            top: -28px;

            i {
                margin: auto;
            }
        }
    }

    .menu.hover {

        &.items.user {
            $width: 200px;
            min-width: $width;
            width: $width;
            bottom: 0;
            max-height: calc(100vh - #{$height_footer_menu});

            p,
            span {
                cursor: default;
            }

            &>* {
                display: block;

                &:last-child {
                    padding-bottom: $height_footer_menu;
                }
            }

            @media screen and (max-width: $width) {
                width: 100%;
                min-width: 100%;
                word-wrap: anywhere;
            }
        }

        overflow: auto;


        @media screen and (max-width: 60px) {
            span {
                display: none;
            }
        }

        .button,
        &.buttons>* {
            padding: 10px;
        }
    }


    .releases {
        @media screen and (max-width: $width_pc - 1) {

            // 7 icons (0 in more = hidden)
            &.mobile-buttons {
                .more {
                    display: none;
                }
            }

            &.menu.hover {
                a {
                    display: none;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 7 - 1) {

            // 5 icons (2 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .more {
                    display: block;
                }

                .appears {
                    display: none;
                }

                .compilations {
                    display: none;
                }

                a {
                    width: calc(100% / 6);
                }
            }

            &.menu.hover {
                .appears {
                    display: block;
                }

                .compilations {
                    display: block;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 6 - 1) {

            // 4 icons (3 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .remixes {
                    display: none;
                }

                &.mobile-buttons a {
                    width: calc(100% / 5);
                }
            }

            &.menu.hover {
                .remixes {
                    display: block;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 5 - 1) {

            // 3 icons (4 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .podcasts {
                    display: none;
                }

                &.mobile-buttons a {
                    width: calc(100% / 4);
                }
            }

            &.menu.hover {
                .podcasts {
                    display: block;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 4 - 1) {

            // 2 icons (5 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .eps {
                    display: none;
                }

                &.mobile-buttons a {
                    width: calc(100% / 3);
                }
            }

            &.menu.hover {
                .eps {
                    display: block;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 3 - 1) {

            // 1 icons (6 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .tracks {
                    display: none;
                }

                &.mobile-buttons a {
                    width: calc(100% / 2);
                }
            }

            &.menu.hover {
                .tracks {
                    display: block;
                }
            }
        }

        @media screen and (max-width: $mobile_buttons_width_min * 2 - 1) {

            // 0 icons (7 in more = hidden) + 1 more icon
            &.mobile-buttons {
                .albums {
                    display: none;
                }

                &.mobile-buttons a {
                    width: 100%;
                }
            }

            &.menu.hover {
                .albums {
                    display: block;
                }
            }
        }
    }
}