.menu {

    &.date,
    &.artists {
        display: none;

        &.active {
            display: inline-block;
        }
    }
}

.secondary {

    &>.filter,
    &>.actions {
        display: none;

        &.active {
            display: flex;
        }
    }
}

footer>.player {

    .image.left,
    .info {
        display: none;
    }

    .menu.round {
        position: absolute;
        right: 0;

        .tracklist {
            display: none;
        }

        .user.button {
            top: 28px;
        }
    }

    &.active {

        .image.left,
        .info {
            display: block;
        }

        .menu.round {
            .tracklist {
                display: flex;
            }

            .user.button {
                top: -28px;
            }
        }
    }
}