// SCROLLBARS - START //

//width
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

// Track
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    background-color: #0c0c0c;
}

// Handle
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background-color: black;

    // Handle on hover
    &:hover {
        background-color: rgb(106, 106, 106);
    }
}

body {
    scrollbar-color: black #0c0c0c;
    scrollbar-width: thin; // TODO funguje pouze přímo u daného prvku
}

// SCROLLBARS - END //