.main .content.page .releases .release {

    &>* {
        width: 100%;
        padding: 0;
    }

    // release information div
    .info {
        display: flex;

        .image {
            margin-right: $spaces;
            width: $cover_width;
            height: $cover_width;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .details {
            width: calc(100% - #{$cover_width} - #{$spaces});

            .name,
            .artists,
            .date {
                width: 100%;
                display: inline-block;
                margin-bottom: 5px;
            }

            button.tracklist  {
                padding-left: 0;
            }
            .tracklist {
                span {
                    font-size: 70%;
                }
            }

            .name {
                font-size: 24px;
            }

            .artists {
                font-size: 20px;
            }

            .date {
                font-size: 18px;
                margin-bottom: 8px;
            }

            button {
                font-size: 30px;
                margin-right: 5px;
                margin-bottom: 0;
                padding: 6px;
            }
        }
    }

    // release content
    .content {
        margin-top: $spaces;
        max-height: 40vh;
    }
}