.main .content.page .boxes {
    &.releases .release {

        @media only screen and (max-width: 69px) {
            padding: 0;
        }

        &>div {
            width: 100%;
            padding: 0;
        }

        &>.info {
            .cover {
                margin-right: $spaces;
                max-width: $cover_width;
                max-height: $cover_width;
                float: left;

                @media only screen and (max-width: 1099px) {
                    max-width: 100px;
                    max-height: 100px;
                }

                @media only screen and (max-width: 159px) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .name {
                font-size: 24px;
            }

            .artists {
                .artist {
                    font-size: 20px;

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }

            .date {
                font-size: 18px;
                margin-bottom: 8px;

                button {
                    padding: 0;
                    margin: 0;
                    font-size: 18px;
                }
            }

            .tracklist {
                padding-left: 0;

                span {
                    font-size: 70%;
                }
            }

            button {
                font-size: 25px;
                margin: 0;
                padding: 6px;
            }
        }
    }
}