.main .content.page .boxes {
    &.releases .release {

        @media only screen and (max-width: 69px) {
            padding: 0;
        }

        &>div {
            width: 100%;
            padding: 0;
        }

        &>.info {
            .cover {
                margin-right: $spaces;
                max-width: $cover_width;
                max-height: $cover_width;
                float: left;

                @media only screen and (max-width: 1099px) {
                    max-width: 100px;
                    max-height: 100px;
                }

                @media only screen and (max-width: 159px) {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .name {
                font-size: 24px;
            }

            .artists {
                .artist {
                    font-size: 20px;

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }

            .date {
                font-size: 18px;
                margin-bottom: 8px;

                button {
                    padding: 0;
                    margin: 0;
                    font-size: 18px;
                }
            }

            .tracklist {
                padding-left: 0;

                span {
                    font-size: 70%;
                }
            }

            button {
                font-size: 25px;
                margin: 0;
                padding: 6px;
            }

        }

        // release content
        /*.content {
            margin-top: $spaces;
            max-height: 40vh;
        }*/


        &.old {

            // release information div
            .info {
                display: flex;

                .cover {
                    margin-right: $spaces;
                    width: $cover_width;
                    height: $cover_width;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .details {
                    width: calc(100% - #{$cover_width} - #{$spaces});

                    .name,
                    .artists,
                    .date {
                        width: 100%;
                        display: inline-block;
                        margin-bottom: 5px;
                    }

                    button.tracklist {
                        padding-left: 0;
                    }

                    .tracklist {
                        span {
                            font-size: 70%;
                        }
                    }


                }
            }
        }
    }
}