/** BODY
 *  Main page content
 */

body .main.content>div {
    height: 100%;
}
.main.menu .buttons {
    height: calc(100% - 44px);
}

body {
    height: 100vh;
    overflow: hidden;

    // responsive styles
    @include respond(mobile) {
        height: auto;
        overflow: auto;
    }

    // main page
    main {
        height: $height_body;

        .menu {
            &.date {
                &.year {
                    order: 1;
                }

                &.month {
                    order: 2;
                }
            }

            &.artists {
                &.names {
                    order: 4;
                }

                &.first-letter {
                    order: 5;
                }
            }
        }

        .content {
            order: 3;
        }

        &.player-active {
            //height: auto;
            height: $height_body_player;
        }

        @media screen and (max-width: $width_pc - 1) {
            &.player-active {
                height: auto;
            }

            height: $height_body_mobile;
        }

        &>* {
            height: 100%;
        }

        .content {
            flex-basis: 100%;
        }

        // responsive styles
        @media screen and (max-width: $width_pc - 1) {
            height: auto;

            .content {
                margin-bottom: $height_footer_player;
            }
        }
    }

    // classic style
    &.classic {
        main {


            // settings
            .settings {
                .list {

                    h4 {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}