/** PAGE ACTIONS
 *  Buttons
 */
@import 'init';


// buttons
.buttons {
    padding-bottom: 0;

    &>* {
        padding: $button_padding;
        margin: auto 0 0 0;
    }
}

// button
.button,
.buttons>* {
    cursor: pointer;
    font-size: calc(12px + 0.4vw);
    margin-top: calc(5px + 0.2vw);
    padding: $button_padding;
    display: inline-block;

    i {
        margin-right: calc(4px + 0.2vw);
    }
}

.list {
    a {
        cursor: pointer;
        display: block;
        font-size: calc(10px + 0.4vw);
        padding: $button_padding;

        i {
            margin-right: calc(4px + 0.2vw);
        }
    }
}