/** PAGE ACTIONS
 *  Buttons
 */


// buttons
.buttons {
    padding-bottom: 0;

    &>* {
        padding: calc(2px + 0.5vw);
        margin: auto 0 0 0;
    }
}

// button
.button,
.buttons>* {
    cursor: pointer;
    font-size: calc(12px + 0.4vw);
    margin-top: calc(5px + 0.2vw);
    padding: calc(2px + 0.5vw);
    display: inline-block;

    i {
        margin-right: calc(4px + 0.2vw);
    }
}