/** BODY
 *  Main page content
 */

main {

    height: 80vh;

    &>* {
        height: 100%;
    }

    .content {
        width: calc(100% - 4px - 1vw);
        padding: calc(30px);

        .c-releases {
            width: calc(100% - 150px);
            overflow: auto;
            height: 70vh;
            width: 100%;
        }
    }
}