/** BODY
 *  Main page content
 */
@import 'init';

body {

    main {
        height: $height_body;

        @media screen and (max-width: $width_pc - 1) {
            height: $height_body_mobile;
        }

        &>* {
            height: 100%;
        }

        .content {
            flex-basis: 100%;

            .page-name {
                margin-top: 40px;
            }
        }
    }

    // classic style
    &.classic {
        main {
            $spaces: 30px;

            .box {
                padding: $spaces;
                margin-bottom: $spaces;
            }

            &>div {
                //width: 100%;
                height: 100%;
                overflow: auto;

                &>div {
                    padding: $spaces;
                }
            }

            .releases {

                // release div
                .release {

                    &>* {
                        width: 100%;
                        padding: 0;
                    }

                    .info {
                        display: flex;

                        $image_width: 150px;

                        .image {
                            margin-right: $spaces;
                            width: $image_width;
                            height: $image_width;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }

                        .details {
                            width: calc(100% - #{$image_width} - #{$spaces});

                            .name,
                            .artists,
                            .date {
                                width: 100%;
                                display: inline-block;
                                margin-bottom: 5px;
                            }

                            .tracklist {
                                &.button {
                                    padding-left: 0;
                                }

                                span {
                                    font-size: 70%;
                                }
                            }

                            .name {
                                font-size: 24px;
                            }

                            .artists {
                                font-size: 20px;
                            }

                            .date {
                                font-size: 18px;
                                margin-bottom: 8px;
                            }

                            .button {
                                font-size: 30px;
                                margin-right: 5px;
                                margin-bottom: 0;
                                padding: 6px;
                            }
                        }
                    }

                    // release content
                    .content {
                        margin-top: $spaces;
                        max-height: 40vh;
                    }
                }
            }

            .settings {
                .list {

                    h4 {
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}