/** COLORS
 *  Colors for dark/light theme.
 */

$color_text_button: #1ab26b;

// 0 čistá
// 1 body
// 2 header footer
// 3,4 hover


@mixin theme-colors($theme_light: false) {
    // -> init colors
    // dark colors
    $color_0: rgb(6, 6, 6);
    $color_1: rgb(16, 16, 16);
    $color_2: rgb(26, 26, 26);
    $color_3: rgb(36, 36, 36);
    $color_4: rgb(46, 46, 46);
    $color_text: rgb(255, 255, 255);

    // light colors
    @if $theme_light {
        $color_0: rgb(245, 245, 245);
        $color_1: rgb(235, 235, 235);
        $color_2: rgb(225, 225, 225);
        $color_3: rgb(215, 215, 215);
        $color_4: rgb(205, 205, 205);
        $color_text: rgb(0, 0, 0);
    }

    // -> set colors

    // buttons
    .button,
    .buttons>* {
        color: $color_text_button;
        background-color: $color_2;

        &:hover {
            background-color: $color_3;
        }

        &.active {
            background-color: $color_1;
            color: $color_text_button;
        }
    }

    // header
    header {
        background-color: $color_2;
        color: $color_text_button;

        // left hover menu (login, user)
        .m-hover {

            // submenu
            a {
                background-color: $color_3;

                * {
                    background-color: $color_3;
                }

                &:hover {
                    background-color: $color_4;

                    * {
                        background-color: $color_4;
                    }
                }
            }
        }

        .b-login.hover {
            background-color: $color_3;
        }
    }

    // content
    main {
        background-color: $color_1;
        color: $color_text;

        // date menu
        .m-date {
            background-color: $color_2;

            a {
                color: $color_text;

                &:hover {
                    color: $color_text_button;
                }
            }
        }

        // content buttons
        .content {

            .button,
            .buttons>* {
                background-color: $color_1;

                &:hover {
                    background-color: $color_3;
                }
            }
        }
    }

    // footer
    footer {
        background-color: $color_2;
        color: $color_text;
    }
}







// DARK MODE
body {
    @include theme-colors($theme_light: false);

    // LIGHT MODE
    &.light {
        @include theme-colors($theme_light: true);
    }
}

.loader {
    background: linear-gradient(to right, $color_text_button, $color_text_button);
}