/** COLORS
 *  Colors for dark/light theme.
 */

$color_text_button: #1ab26b;

// 0 čistá
// 1 body
// 2 header footer
// 3,4 hover


@mixin theme-colors($theme_light: false) {
    // -> init colors
    // dark colors
    $color_0: rgb(0, 0, 0);
    $color_1: rgb(6, 6, 6);
    $color_2: rgb(16, 16, 16);
    $color_3: rgb(26, 26, 26);
    $color_4: rgb(36, 36, 36);
    $color_5: rgb(46, 46, 46);
    $color_6: rgb(56, 56, 56);
    $color_text: rgb(255, 255, 255);

    // light colors
    @if $theme_light {
        // TODO light colors
        $color_0: rgb(255, 255, 255);
        $color_1: rgb(245, 245, 245);
        $color_2: rgb(235, 235, 235);
        $color_3: rgb(230, 230, 230);
        $color_4: rgb(225, 225, 225);
        $color_5: rgb(215, 215, 215);
        $color_6: rgb(205, 205, 205);
        $color_text: rgb(0, 0, 0);
    }

    // color theme
    /*$color_0: #ffe7aa;
    $color_1: #0d2f81;
    $color_2: #ffafa2;

    font-family: SharpGroteskWide,Open Sans,sans-serif;
    https://fonts.google.com/specimen/Poppins
    */

    a {
        color: $color_text;

        &:hover {
            color: $color_text_button;
        }
    }

    // -> set colors

    // buttons
    .button,
    .buttons>* {
        color: $color_text_button;
        background-color: $color_4;

        &:hover {
            background-color: $color_5;

            * {
                background-color: $color_5;
            }
        }

        &.active {
            background-color: $color_3;
            color: $color_text_button;
        }
    }

    // lists
    .list {
        a {
            &:hover {
                background-color: $color_3;
                color: $color_text;
            }

            &.active {
                background-color: $color_0;
                color: $color_text_button;
            }

            &.update:hover {
                background-color: $color_1;
                color: $color_text_button;
            }
        }
    }

    // header
    header {
        background-color: $color_4;
        color: $color_text_button;

        // left hover menu (login, user)
        .menu-hover {
            /*&:hover {
                & ~ header .user .login {
                    background-color: $color_5;
        
                    * {
                        background-color: $color_5;
                    }
                }
            }*/

            // submenu
            a {
                background-color: $color_5;

                * {
                    background-color: $color_5;
                }

                &:hover {
                    background-color: $color_6;

                    * {
                        background-color: $color_6;
                    }
                }
            }
        }

        .menu-hover.hover {
            background-color: $color_5;
        }

        .secondary {
            background-color: $color_3;

            * {
                background-color: $color_3;
            }

            .title {
                color: $color_text;
            }
        }
    }

    // content
    main {
        background-color: $color_2;
        color: $color_text;

        // date menu
        .menu-date {
            background-color: $color_4;

            a {
                color: $color_text;

                &:hover {
                    color: $color_text_button;
                }
            }
        }

        // content buttons
        .content {

            .button,
            .buttons>* {
                background-color: $color_2;

                &:hover {
                    background-color: $color_5;
                }
            }

            .releases {
                .release {
                    background-color: $color_1;

                    .buttons.active {
                        color: $color_text_button;
                    }
                }
            }
        }
    }

    // footer
    footer {
        background-color: $color_1;
        color: $color_text;

        .player {
            .info>.time {
                background-color: $color_text_button;
            }
        }

        .tracklist {
            .tracklist-button {
                color: $color_text_button;
                background-color: $color_5;
            }
        }

        .buttons.releases {
            background-color: $color_2;
        }
    }
}

// DARK/LIGHT MODE

// light mode
@media (prefers-color-scheme: light) {
    body {
        @include theme-colors($theme_light: true);

        &.dark {
            @include theme-colors($theme_light: false);
        }
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    body {
        @include theme-colors($theme_light: false);

        &.light {
            @include theme-colors($theme_light: true);
        }
    }
}

.loader {
    background: linear-gradient(to right, $color_text_button, $color_text_button);
}