/** FOOTER
 *  Page footer
 */
/** INIT
 *  Init sass varibles, ...
 */
footer {
  display: block;
  /** {
        padding-left: 10px;
        padding-right: 10px;
    }*/
}

footer .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

footer .player .image {
  width: 130px;
  margin-right: 15px;
}

@media screen and (max-width: 770px) {
  footer .player .image {
    display: none;
  }
}

footer .player .image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /*position: relative;
                top: -20px;*/
}

footer .player .info {
  width: calc(100% - 56px - 100px - 15px);
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 770px) {
  footer .player .info {
    width: calc(100% - 56px - 40px - 15px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

footer .player .info .button,
footer .player .info .buttons a {
  font-size: 24px;
  margin-right: 5px;
  margin-bottom: 0;
  padding: 6px;
}

footer .player .info > .time {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  position: relative;
  top: -4px;
}

footer .player .info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  max-height: 100%;
}

footer .player .info .content > div {
  margin-right: 30px;
  /*width: 25%;*/
}

footer .player .info .content > div.actions.buttons {
  margin-right: 0;
  margin-left: auto;
  width: 96px;
}

footer .player .info .content > div.actions {
  width: 210px;
}

footer .player .info .content > div.details {
  width: calc((100% - 210px - 96px - 30px - 30px - 30px)/2);
}

@media screen and (max-width: 770px) {
  footer .player .info .content > div {
    margin-right: 5px;
  }
  footer .player .info .content > div.details {
    width: calc((100% - 210px - 5px - 5px - 5px)/2);
  }
}

@media screen and (max-width: 600px) {
  footer .player .info .content > div.details {
    width: calc((100% - 5px - 5px)/2);
  }
}

footer .player .info .content .time,
footer .player .info .content .album,
footer .player .info .content .date {
  font-size: 20px;
  margin-top: 10px;
}

footer .player .info .content .details a {
  display: block;
}

footer .player .info .content .details .track,
footer .player .info .content .details .artists {
  font-size: 24px;
  padding: 6px 0;
}

footer .player .info .content .details .artists,
footer .player .info .content .details .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .player .info .content .details .artists {
  display: inline-block;
}

footer .player .info .content .details .artists a {
  display: inline;
}

footer .menu.round {
  display: block;
}

footer .menu.round.pc-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
}

footer .menu.round.pc-hide a:first-of-type {
  margin-left: auto;
}

footer .menu.round.pc-hide.buttons > * {
  top: -65px;
}

footer .menu.round.buttons > * {
  font-size: 24px;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -28px;
}

footer .menu.round.buttons > * i {
  margin: auto;
}

footer .menu.hover {
  overflow: auto;
}

footer .menu.hover.releases {
  min-width: 160px;
  width: 160px;
  bottom: 60px;
  max-height: calc(100vh - 60px);
}

@media screen and (max-width: 160px) {
  footer .menu.hover.releases {
    width: 100%;
    min-width: 100%;
    word-wrap: anywhere;
  }
}

footer .menu.hover.user {
  min-width: 200px;
  width: 200px;
  bottom: calc(100px + 60px);
  max-height: calc(100vh - 100px - 60px);
}

@media screen and (max-width: 200px) {
  footer .menu.hover.user {
    width: 100%;
    min-width: 100%;
    word-wrap: anywhere;
  }
}

@media screen and (max-width: 60px) {
  footer .menu.hover span {
    display: none;
  }
}

footer .menu.hover .button,
footer .menu.hover.buttons > * {
  padding: 10px;
}

footer .mobile-buttons.releases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

footer .mobile-buttons.releases p {
  font-size: 13px;
}

footer .mobile-buttons.releases a {
  display: block;
  width: calc(100% / 7);
  min-width: 80px;
  padding: 10px 0;
  margin: 0;
}

@media screen and (max-width: 80px) {
  footer .mobile-buttons.releases a {
    width: 100%;
    min-width: 100%;
    word-wrap: anywhere;
  }
}

footer .mobile-buttons.releases a * {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  footer .releases.mobile-buttons .more {
    display: none;
  }
  footer .releases.menu.hover a {
    display: none;
  }
}

@media screen and (max-width: 559px) {
  footer .releases.mobile-buttons .more {
    display: block;
  }
  footer .releases.mobile-buttons .appears {
    display: none;
  }
  footer .releases.mobile-buttons .compilations {
    display: none;
  }
  footer .releases.mobile-buttons a {
    width: calc(100% / 6);
  }
  footer .releases.menu.hover .appears {
    display: block;
  }
  footer .releases.menu.hover .compilations {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  footer .releases.mobile-buttons .remixes {
    display: none;
  }
  footer .releases.mobile-buttons.mobile-buttons a {
    width: calc(100% / 5);
  }
  footer .releases.menu.hover .remixes {
    display: block;
  }
}

@media screen and (max-width: 399px) {
  footer .releases.mobile-buttons .podcasts {
    display: none;
  }
  footer .releases.mobile-buttons.mobile-buttons a {
    width: calc(100% / 4);
  }
  footer .releases.menu.hover .podcasts {
    display: block;
  }
}

@media screen and (max-width: 319px) {
  footer .releases.mobile-buttons .eps {
    display: none;
  }
  footer .releases.mobile-buttons.mobile-buttons a {
    width: calc(100% / 3);
  }
  footer .releases.menu.hover .eps {
    display: block;
  }
}

@media screen and (max-width: 239px) {
  footer .releases.mobile-buttons .tracks {
    display: none;
  }
  footer .releases.mobile-buttons.mobile-buttons a {
    width: calc(100% / 2);
  }
  footer .releases.menu.hover .tracks {
    display: block;
  }
}

@media screen and (max-width: 159px) {
  footer .releases.mobile-buttons .albums {
    display: none;
  }
  footer .releases.mobile-buttons.mobile-buttons a {
    width: 100%;
  }
  footer .releases.menu.hover .albums {
    display: block;
  }
}
/*# sourceMappingURL=footer.css.map */