/** FOOTER
 *  Page footer
 */
@import 'init';

$mobile_buttons_width_min: 72px;

footer {
    //width: calc(100% - 20px);
    display: block;

    /** {
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .player {
        display: flex;

        .image {
            width: $date_menu_width - 10px;

            img {
                max-width: 100%;
                max-height: 100%;
                position: relative;
                top: -20px;
            }
        }

        .info {
            width: 100%;
            margin-left: 50px;
            margin-right: 50px;

            &>.time {
                width: 100%;
                height: 8px;
                border-radius: 8px;
                position: relative;
                top: -4px;
            }


            .content {
                display: flex;

                &>div {
                    width: 33%;
                }

                .details {
                    a {
                        display: block;
                    }

                    .artists,
                    .date {
                        display: flex;
                    }
                }
            }
        }
    }

    .menu.round {
        //width: 80px;
        display: block;

        &.pc-hide {
            display: flex;
            height: 0;

            a:first-of-type {
                margin-left: auto;
            }

            &.buttons>* {
                top: -65px;
            }
        }

        &.buttons>* {
            font-size: calc(20px + 0.8vw);
            border-radius: 100%;
            width: 50px;
            height: 50px;
            display: flex;
            position: relative;
            top: -25px;

            i {
                margin: auto;
            }
        }

    }


    .mobile-buttons {
        display: flex;

        a {
            display: block;
            width: 25vw;
            min-width: $mobile_buttons_width_min;
            padding: 10px 0;

            * {
                width: 100%;
                text-align: center;
            }
        }
    }
}