/** HEADER
 *  Header menu
 *  Page name
 */
@import 'init';

header {
    div {
        display: flex;
        text-align: right;
    }

    // menu butons
    .button,
    .buttons>* {
        margin-top: 0;
    }

    // loader
    .loader {
        width: 100%;
        height: 4px;
        margin: auto;
        border-radius: 4px;
        background-size: 20%;
        background-repeat: repeat-y;
        background-position: -25% 0;

        &.active {
            animation: loader 3s ease-in-out infinite;
        }
    }

    // main header (without loader)
    .primary {
        // title text
        font-weight: 700;

        // div in header
        &>* {
            margin: calc(10px + 0.5vw);
            margin-bottom: 0;
        }

        // page name
        .page-name {
            cursor: context-menu;

            // icon
            .favicon {
                background: transparent;
                height: calc(22px + 1vw);
                font-size: calc(20px + 0.8vw);
                margin-left: 5px;
            }

            &:hover>.favicon {
                animation: spin 2s linear infinite;
            }

            // page name
            h1 {
                font-size: calc(13px + 0.8vw);
            }
        }

        // user menu
        .div-user {
            margin-left: auto;
            position: relative;
            display: inline;

            // hoverable menu
            .m-hover {
                display: none;
                position: absolute;
                width: 100%;
                text-align: left;
                margin: 0;

                &.show {
                    display: block;
                }

                &>* {
                    display: block;
                }
            }

            // login button
            .b-login {
                display: inline-flex;
                min-width: 70px;
            }

            // hover user menu
            &:hover {
                .m-hover {
                    display: block;
                }

                .m-hover.hidden {
                    display: none;
                }
            }
        }
    }

    .secondary {

        // mobile date (hide/show) icon
        .m-date-mobile {
            width: calc(#{$date_menu_width} - 2 * #{$button_padding_1} - 2 * #{$button_padding_2});
        }

        .title {
            padding: $button_padding 50px;
        }
    }
}

// ANIMATIONS

// loader
@keyframes loader {
    50% {
        background-size: 80%;
    }

    100% {
        background-position: 125% 0;
    }
}

// favicon spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}