/** MAIN
 *  Main styles - fonts, margin, ...
 */
@import 'init';

* {
    margin: 0;
    text-decoration: none;
    font-family: "DM Sans", "Pontano Sans", sans-serif;
    //font-family: 'Poppins', 'Open Sans', 'sans-serif';
    //font-family: 'PT Sans',  'Open Sans', sans-serif;

    /*:hover {
        transition: 0.5s;
    }*/

    word-wrap: everywhere;
    overflow-wrap: anywhere;
}

body {
    // TODO spuštění: odkomentovat
    overflow: hidden;
}

main {
    display: flex;
}

// text
p {
    font-size: 18px;
}

// link
a {
    cursor: pointer;
}

// responsive styles (hide / show content on pc / mobile)
@media screen and (min-width: $width_pc) {
    .pc-hide {
        display: none !important;
    }
}

@media screen and (max-width: $width_pc - 1) {
    .mobile-hide {
        display: none !important;
    }
}

.left {
    margin-left: $padding_left_right;
    padding-left: 0;
}

.right {
    margin-right: $padding_left_right;
    padding-right: 0;
}

// buttons
.buttons {
    padding-bottom: 0;

    /*&>* {
        padding: $button_padding;
        margin: auto 0 0 0;
    }*/
}

// button
.button,
.buttons>* {
    cursor: pointer;
    font-size: 18px;
    //padding: $button_padding;
    display: inline-block;
}

// hoverable menu
.menu.hover {
    display: none;
    position: absolute;
    width: 100%;
    text-align: left;
    margin: 0;
    right: 0;

    &.show {
        display: block;
    }

    &.buttons>* {
        display: block;
        margin-top: 0;
    }

    &>* {
        display: block;
    }
}

// icon right margin
.icon-text {
    i {
        margin-right: $margin_right_icon;
    }
}



// page name
.page-name {
    cursor: context-menu;
    padding: 10px 10px 5px 10px;
    display: inline-flex;
    font-weight: 800;

    // icon
    .favicon {
        background: transparent;
        height: $height_header_primary - 10px;
        margin-left: $margin_right_icon;
    }

    &:hover>.favicon {
        animation: spin 2s linear infinite;
    }

    // page name
    h1 {
        font-size: 30px;
    }

    // responsive styles (hide / show content on pc / mobile)
    @media screen and (max-width: $width_pc_menu_main) {
        .mobile-hide {
            display: none;
        }
    }
}


.list {
    a {
        cursor: pointer;
        display: flex;
        font-size: 18px;
        padding: 10px;
    }

    .right {
        margin-left: auto;
    }

    // tracklist
    &.tracklist {
        .track {
            .info {
                display: inline-flex;

                &>* {
                    margin-right: 5px;
                }

                .artists {
                    display: inline-block;
                    margin: auto 0;
                    padding: 0 10px;

                    .artist {
                        display: inline;
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    // playlists
    &.playlists {
        .update {
            width: 20px;
            margin-left: auto;
        }
    }
}

.explicit {
    span {
        // TODO změna barvy
        font-size: 13px;
        padding-left: 2.5px;
        font-style: italic;
        /*border: .1px solid gray;
        padding: 5px;*/
    }
}