/** MAIN
 *  Main styles - fonts, margin, ...
 */

* {
    margin: 0;
    text-decoration: none;
    font-family: "Pontano Sans", sans-serif;

    :hover {
        transition: 0.5s;
    }
}

main {
    display: flex;
}

// page name
h1 {
    font-family: "Kufam", sans-serif;
}

// text
p {
    font-size: calc(12px + 0.3vw);
}

// hidden items
// TODO před spuštěním: odkomentovat
/*.hidden {
    display: none;
}*/
