/** DATE MENU
 *  Left date menu.
 */

main {
    .m-date {
        overflow: hidden;
        width: 120px;
        height: 80vh;
        display: inline-block;

        &:hover {
            overflow: auto;
        }

        a {
            width: calc(120px - 5px - 0.2vw);
            margin-top: 0px;
        }
    }

    .content {
        height: 80vh;
        width: calc(100% - 4px - 1vw);

        .c-releases {
            width: calc(100% - 150px);
            overflow: auto;
            height: 70vh;
            width: 100%;
        }
    }
}