/** DATE MENU
 *  Left date menu.
 */

main {

    // date menu
    .m-date {
        overflow: hidden;
        min-width: 160px;
        height: 80vh;
        display: inline-block;
        resize: horizontal;

        &:hover {
            overflow: auto;
        }

        a {
            margin-top: 0px;
            display: block;
        }

        // year menu
        .m-year {
            padding-left: 80px;
        }
    }
}