/** DATE MENU
 *  Left date menu.
 */
@import 'init';

main {

    // date menu
    .m-date {
        overflow: hidden;
        min-width: $date_menu_width;
        display: inline-block;
        resize: horizontal;

        &:hover {
            overflow: auto;
        }

        a {
            margin-top: 0px;
            display: block;
        }

        // year menu
        .m-year {
            padding-left: 80px;
        }
    }
}