/** TESTING
 *  Testing styles, only for development
 */

// hidden items
// TODO před spuštěním: odkomentovat
.hidden {
    display: none !important;
}

//@use 'sass:map';
.skrejto {
    display: none !important;
}

// scrollbars

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(36, 36, 36);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(86, 86, 86);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(106, 106, 106);
}








// HEADER

// loader
/*$loader: (
    "size": (
        "width": 100%,
        "height": 4px),
    "margin": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0),
    "padding": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0)
    );

// page name
$in-header: (
    "size": (
        "width": 100%,
        "height": 0),
    "margin": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0),
    "padding": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0)
    );

$test: (
    "size": (
        "width": 100%,
        "height": 0),
    "margin": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0),
    "padding": (
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0)
    );

@mixin getValuesFromMap($map) {
    // size
    width: mapGet($map, "size", "width");
    height: mapGet($map, "size", "height");
    // margin
    margin-top: mapGet($map, "margin", "top");
    margin-right: mapGet($map, "margin", "right");
    margin-bottom: mapGet($map, "margin", "bottom");
    margin-left: mapGet($map, "margin", "left");
    // padding
    padding-top: mapGet($map, "padding", "top");
    padding-right: mapGet($map, "padding", "right");
    padding-bottom: mapGet($map, "padding", "bottom");
    padding-left: mapGet($map, "padding", "left");
}

@function mapGet($map, $list...) {
    @each $key in $list {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function getFullHeight($element) {
    $size: mapGet($element, "size", "height") + mapGet($element, "margin", "top") + mapGet($element, "margin", "bottom") + mapGet($element, "padding", "top") + mapGet($element, "padding", "bottom");
    @return $size;
}*/