// PRIMARY HEADER
.header.primary {
    display: inline-flex;

    // page name
    .page-name {
        cursor: context-menu;
        padding: 4px 10px 16px 10px;
        display: inline-flex;
        font-weight: 800;

        // text size
        p,
        .favicon {
            font-size: 28px;
        }

        // icon
        .favicon {
            background: transparent;
            height: $height_header_primary - 10px;
            margin-left: $margin_right_icon;
        }

        &:hover>.favicon {
            animation: favicon_spin 2s linear infinite;
        }
    }

    // actions menu
    .actions {
        margin-left: auto;
    }

    // user menu
    .user {
        position: relative;

        // login button
        button.login,
        button.user {
            display: inline-flex;
            min-width: 70px;
        }

        &.menu.items button {
            display: block;
            text-align: left;
        }

        // hover user menu
        &:hover {
            .menu.hover.items {
                display: grid;

                &.hidden {
                    display: none;
                }
            }
        }

        // responsive styles (hide / show content on pc / mobile)
        @include respond(text) {
            .menu.hover.items {
                width: 150px;
            }
        }
    }
}

// favicon spin
@keyframes favicon_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}